<!DOCTYPE html>
<html>
  <head>
    <title>NodeJs App</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Ops,The site is currently being updated.</h1>
    <p>We will be back soon!</p>

    {{> footer}}
  </body>
</html>
